<div class="container">
    <h1>{{title}}</h1>
    <div class="list-container">

        <div class="todo-container column-container">
            <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="users" (cdkDropListDropped)="onDrop($event)">
                <h2>Users</h2>
                <mat-card *ngFor="let user of users" cdkDrag>
                    <mat-card-header>
                        <mat-card-title>{{user.first_name +' '+user.last_name}}</mat-card-title>
                        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="user.avatar" alt="Photo of a Shiba Inu">
                </mat-card>
            </div>
        </div>
    </div>
</div>